extends layout

block content
    if successCourse && successCourse.length > 0
        p.alert.alert-success #{successCourse}
    if deleteSuccess && deleteSuccess.length > 0
        p.alert.alert-success #{deleteSuccess}
    if editSuccess && editSuccess.length > 0
        p.alert.alert-success #{editSuccess}
    .content-header: .container-fluid: .row.mb-2
        .col-sm-6.d-flex.justify-content-start: ol.breadcrumb.float-sm-right
            li.breadcrumb-item: a(href="/admin") Администратор
            li.breadcrumb-item.active Курсы
    .content: .container-fluid: .card#app
        if (courses && courses.length > 0)
            table.table
                thead
                    tr
                        th #
                        th Курсы
                        th Время
                        th Дни недели
                        th Текущая тема
                tbody
                    if courses
                        each course, i in courses
                            tr
                                th #{i+1}
                                td #{course.course}
                                td #{course.time}
                                td #{course.weekdays}
                                td #{course.topic}
                                td
                                    a(href=`/admin/courseDelete/${course._id}`).btn.btn-danger Удалить
                                td
                                    a(href=`/admin/courseEdit/${course._id}`).btn.btn-primary Редактировать
        else
            p.ml-2.mt-2 Нет информации о ваших курсах
        .col-lg-3
            a(href="/admin/courseAdd" class="btn btn-primary mb-2 ml-2 mt-2") Создать новый