extends layout

block content
    if successStudent && successStudent.length > 0
        p.alert.alert-success #{successStudent}
    if deleteSuccess && deleteSuccess.length > 0
        p.alert.alert-success #{deleteSuccess}
    if editSuccess && editSuccess.length > 0
        p.alert.alert-success #{editSuccess}
    .content-header: .container-fluid: .row.mb-2
        .col-sm-6.d-flex.justify-content-start: ol.breadcrumb.float-sm-right
            li.breadcrumb-item: a(href="/admin") Администратор
            li.breadcrumb-item.active Количество моих учеников
    .content: .container-fluid: .card#app
        //- pre #{JSON.stringify(students, null, 2)}
        if students && students.length === 0
            p.ml-2.mt-2 Нет информации о ваших учениках
            .col-lg-3
                a(href="/admin/studentsAdd" class="btn btn-primary mb-2 ml-2 mt-2") Создать новый
        else
            table.table
                thead
                    tr
                        th #
                        th Количество студентов, обучающихся на данный момент
                        th Количество студентов, окончивших обучение
                        th Удалить
                        th Редактировать
                tbody
                    if students
                        each student, i in students
                            tr
                                th #{i+1}
                                td #{student.currentStudents}
                                td #{student.graduates}
                                td
                                    a(href=`/admin/delete/${student._id}`).btn.btn-danger Удалить
                                td
                                    a(href=`/admin/edit/${student._id}`).btn.btn-primary Редактировать
        
